.repoSearch {
    margin:auto;
    width: 85vw;
    min-height:100vh ;
    text-align: center;
    background-color: rgb(217, 208, 208);
  }
  
  .githubImg{
    width: 30vw;
    height:10vw ;
    margin: 2em;
  }

  .ui.menu {
    margin: 1em;
  }

